@import "./buttons.scss";
@import "./variables.scss";


*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game{
    width: 100vw;
    height: 100vh;
    background-color:black;
    padding: 0px ;
    .welcomeText{
        display: flex;
        justify-content: center;
        font-size: 40px;
        margin: 30px;
        color: white;
        padding-top: 50px
    }
    .board{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__item{
            height: 60vh;
            width: 20vw;
            background-color: white;
            border-radius: 20px;
            img{
                height: 60vh;
                width: 20vw;
            }
        }
        .board--left, .board--right{
            display: flex;
            flex-direction: column;
            font-size: 60px;
            justify-content: center;
            align-items: center;
        }
        .board--center{
            .score--panel{
                display: flex;
                flex-direction: column;
                margin-bottom: 60px;
                h1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 40px;
                    padding-top: 20px;
                }
            }
            .btn--panel{
                display: flex;
                flex-direction: column;
                margin-top: 220px;
                .btn--panel-btn{
                    height: 80px;
                }
            }
        }
    
    }
    .start--btn-container{
        display: flex;
        justify-content: center;
    }
}


